
  <h2>Inserare produs admin!</h2>
  <form action="/admin-adaugare" method="POST">
      Nume produs:
      <input type="text" name="name"><br><br> Pret produs:
      <input type="text" name="price"><br>
      <br>
      <button class="button" type="submit">Adaugă</button>
  </form>