 
<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/script.js"></script>
   
    
    
    <title>Malina</title>
    <meta charset="utf-8"/>
    <link href="/style.css" rel="stylesheet" type="text/css">

   
    
  </head>
  <body>
    
      <header>   
        <img src="miau1.jpg" alt="pisici" style="width:100%;"/>    
    
      </header>
      <div class="navtema">
        <a href="http://localhost:6789/">Acasa</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:6789/autentificare">Autentificare</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:6789/chestionar">Chestionar</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:6789/logout">Deconectare</a>&nbsp;&nbsp;&nbsp;&nbsp;
       
    
       </div>

       
    <main id="content">
        <%-body-%> <br/>
   
    <footer>
        &copy;IchimPaulaMadalina
    </footer>
  </main>



  </body>
</html>
