<%if(eroare != null){%>
  <h2 style="color:red"><%=eroare%></h2>
<%}%>
<%if(user != null){%>
  <h4 class="login">
      Logat ca <%=user%>
  </h4>
<%}%>



 <div class="container">
   <img src="web.jpg" alt="Notebook" style="width:100%;">
   <div class="content1">
   <img src="congratulations.jpg" alt="congrats" class="center2"/>   
   <h1>FELICITARI!!</h1>
   <h2>

   Scorul testului tău este:<%=raspuns%> 
 </h2>
   </div>
 </div>